.App {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
}

.sites_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
}