.App {
  text-align: center;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.sites_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
}

.loading_wrapper {
  height: 30rem;
}

.loading {
  display: grid;
  justify-content: center;
}