.Home {
    text-align: center;
    padding-bottom: 5%;
    font-family: Arial;
}

.home_image {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.head_text {
    position: relative;
    color: white;
}

.title {
    font-size: 3rem;
    font-family: 'Oswald';
}

.mission_statement {
    font-style: italic;
    font-weight: lighter;
    font-size: 1rem;
}
    
.center_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home_overview {
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
}