.map {
    display: grid;
    justify-content: center;
    gap: 1rem;
    position: sticky;
    padding-bottom: 2%;
}

.map_container {
    overflow: scroll;
}

.region_info {
    text-align: center;
}