.site_main {
    padding-bottom: 10%;
}

.site_image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}
  
.site_body {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    gap: 2rem;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.site_name {
    font-size: 1.5rem;
    border-style: dotted; 
    border-width: 0.5rem;
    border-color: #fbf4cd;
    padding: 1rem;
    overflow-wrap: break-word;
}

.site_description {
    font-size: 1.5rem;
    border-style: dotted; 
    border-width: 0.5rem;
    border-color: #000080;
    padding: 1rem;
    overflow-wrap: break-word;
}

.site_map {
    border: none;
    padding: 0.5rem;
}