.main_header {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 19rem));
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: #fbf4cd;
}

.logo {
  height: 5rem;
}

.nshsf_logo {
  height: 3rem;
}
